
@import "variables";
@import "bootstrap";


@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic-ext,latin);



@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin border-color($radius) {
  border-left: $radius solid $blue-border;
  border-bottom: $radius solid $blue-border;
  }

.form-control {
    border: 0px solid ;
    @include border-color(5px);
    @include box-shadow(-5px 5px 1px #7f7888);
    //box-shadow: none;
}
h1{
    text-align: center;
    //font-family: 'Comfortaa', cursive;
   
}

.day{
  //text-align: center;
  font-size: 10px;
  }
.date-select{
  padding: 0;
  }

header {
  height: 100px;
  
  }
.center-block {
  @include center-block;
  }


button {
  height: 100px;
  color: #333;
  
  @include box-shadow(-5px 5px 1px #7f7888);
}

button:focus,
button:active,
button:hover,

{
 outline:0px !important;
    -webkit-appearance:none;
    

}
.btn {border-radius: 26px;}
.btn:active{
  border-color: $green-background;
  background-color: $green-background;
  


}

.btn:disabled {
  background-color: $btn-primary-bg;
  color: $btn-primary-bg;
  @include box-shadow(-5px 5px 1px #7f7888);
  }

.message {
  text-align: center;
  }
select.ng-valid.ng-dirty,
input.ng-valid.ng-dirty {
  border-top-color: white;
  @include box-shadow(-5px 5px 1px #7f7888);
}


.animate-switch-container {
  position:relative;
  background:white;
  overflow: hidden;
  height:880px;
  
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.9s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.9s;
  
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


 
.animate-switch.ng-enter {
  left: -1250px;
}
.animate-switch.ng-enter.ng-enter-active {
  left: 0;
}
 
.animate-switch.ng-leave {
 left: 0;
}
.animate-switch.ng-leave.ng-leave-active {
  left:1250px;
}
img {
  width: 1000px;
  }
