
$green-background: #ABC147;
$green: #BDF1C0;

$input-border-radius: 16px !important;


$input-border-focus:#FFCBE6 ;
$font-family-sans-serif: 'Comfortaa', cursive;


$btn-primary-bg: #617992;

$state-success-text: $green-background; 
